.homeContainer {
    height: 100vh;    

    display: flex;
    flex-direction: column;

    background: var(--blue);
}

.homeContainer section {
    flex: 1;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;    
}

.iconImg img {
    margin-left: -68px;
}

.loginForm {
    padding-left: 3rem;
}